.carousel .card {
  height: 100%;
}

.review-text {
  min-height: 120px;
  /* Adjust as needed for uniform height */
}

.review-text {
  min-height: 100px;
  /* Adjust for uniformity */
}

.card-img-top {
  border-bottom: 1px solid #e0e0e0;
}

/* Hide carousels based on device */
#carouselDesktop {
  display: none;
}

#carouselMobile {
  display: none;
}

@media (min-width: 768px) {
  #carouselDesktop {
    display: block;
  }
}

@media (max-width: 767px) {
  #carouselMobile {
    display: block;
  }
}