.carousel .card {
  background-color: #1e0e5322;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  color: white;
  min-height: 420px;
  max-height: 420px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.card-subtitle {
  font-style: italic;
  color: ghostwhite;
}

.review-text {
  flex-grow: 1;
  overflow: hidden;
  font-style: italic;
  color: ghostwhite;
  /* Adjust as needed for uniform height */
}


.card-img-top {
  border-radius: 100%;
  width: 80px;
  height: 80px;
  justify-content: center;
  margin: 0 auto;
  border-bottom: 1px solid #e0e0e0;
}

/* Hide carousels based on device */
#carouselDesktop {
  display: none;
}

#carouselMobile {
  display: none;
}

@media (min-width: 768px) {
  #carouselDesktop {
    display: block;
  }
}

@media (max-width: 767px) {
  #carouselMobile {
    display: block;
  }
}
